*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    margin: auto;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
.hero{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: hsl(193, 100%, 96%);
    background-image: url(bg-hero-desktop.svg);  
    margin-bottom: 20px;  
}
.hero2{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    margin-bottom: 20px;
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav button{
    background: white;
    border: 1px solid #fff;
    margin: 15px 0 10px;
    height: 45px;
    border-radius: 20px;
    padding: 10px 40px;
    box-sizing: border-box;
}
nav button a{
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
}
.details {
    margin-left: 8%;
    margin-top: 6%;
    /* margin-bottom: 10px; */
    height: 100%;
    width: 50%;
    
}

.details h1 {
    /* font-size: 50px; */
    color: black;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.details h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: black;
    margin-bottom: 20px;
    margin-top: 10%;
}

.details p {
    color: #555;
    line-height: 25px;
    width: 95%;
}
#det p{
    font-weight: 700;
}
.details a{
    background:hsl(322, 100%, 66%);
    padding: 10px 30px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 30px 0;
    border-radius: 25px;
}
.one{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
   
}
.images img{
   /* width: 50%; */
   /* height: 30vh; */
   display: flex;
   flex-direction: row;
   object-fit: cover;
   width: 80%;
   height: 100%;
  
}
.images2 img{
    width: 80%;
    height: 100%;
}

.feat {   
    box-shadow: 0 0 7px 0 #999;
    display: flex;
    width: 90%;
    margin: 20px auto;
    padding: 2px 5px;
    justify-content: space-around;
    color: #555;
}
.first{
    margin-top: 100px;
}
.third{
    margin-bottom: 200px;
}
.feat2{
    box-shadow: 0 0 7px 0 #999;
    display: flex;
    width: 40%;
    height: 200px;
    margin-top: -120px;
    margin-left: 30%;
    padding: 2px 5px;
    /* align-items: center; */
    justify-content: space-around;
    border-radius: 15px;
    position: absolute;
    background-color: white;
}
.feat2 h2{
    margin-top: 8%;
}
.ready button{
    background-color: transparent;
    border: none;
    display: inline-block;
    /* margin-left: 30%; */
}
.ready a{
    background: hsl(322, 100%, 66%);
    padding: 20px 80px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 30px 60px;
    border-radius: 25px;
}
.logo2 {
    filter: invert(100%) saturate(0%) brightness(200%);
    padding: 20px;
    margin-left: 80px;
}

.container {
    width: 90%;
    background-color: hsl(192, 100%, 9%);
    margin: auto;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul {
    list-style: none;
}

.footer {
    background-color: hsl(192, 100%, 9%);
    padding: 70px 0;
}

.footer-col {
    width: 20%;
    padding: 0 10px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: hsl(193, 100%, 96%);
    display: block;
}

.col-1 p {
    font-weight: 300;
    color: hsl(193, 100%, 96%);
    display: inline-block;
    margin: 0;
    margin-bottom: 15px;
}

.col-1 p span {
    display: block;
    font-weight: normal;
    line-height: 2;
}

.col-1 p a {
    color: hsl(193, 100%, 96%);
    text-decoration: none;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: hsl(192, 100%, 9%);
    margin: 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border: 1px solid hsl(193, 100%, 96%);
    padding: 10px;
    border-radius: 50%;
    color: hsl(193, 100%, 96%);
}

.footer-col .social-links a:hover {
    color: hsl(322, 100%, 66%);
}

.copyright {
    text-align: right;
    color: hsl(193, 100%, 96%);
    margin-right: 50px;
}
@media screen and (max-width :375px) {
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
    }
    .hero{
        background-color: hsl(193, 100%, 96%);
        background-image: url(bg-hero-mobile.svg);
    }
    .hero img{
        object-fit: scale-down;
        width: 30%;
    }
   
    nav button {
        margin: 15px 0 10px;
        height: 35px;
        border-radius: 20px;
        box-sizing: border-box;
        padding: 10px 20px;
    }
    nav button a {
        text-decoration: none;
        font-weight: bold;
        padding: 0px;
    }
    .logo{
        size-adjust: 20px;
        padding: 0;
    }
    .one{
        flex-direction: column;
    }
    .images img{
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
    }
    .details {
        width: 80%;
        margin: auto;
        text-align: center;
    }
    .details h1{
        margin-bottom: 5px;

    }
    #det p {
        font-weight: 400;
    }
    .feat{
        flex-direction: column;
    }
    .hero2{
        flex-direction: column;
    }
    .feat2{
        font-size: small;
        flex-direction: column;
        width: 90%;
        margin-left: 5%;
        margin-top: -150px;
        text-align: center;
    }

    .ready a{
        padding: 10px 30px;
        margin-left: 60px;
    }
    #details1{
        order: 2;
    }
    #image1{
        order: 1;
        margin-top: 30px;
        margin-left: 10px;
    }
}
